{
  "presets": [
    "env",
    "stage-0",
    "flow"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"]
    }],
    "transform-object-assign",
    "transform-class-properties"
  ]
}
