{
  "presets": [
    ["env", {
      "targets": {
        "node": true
      }
    }],
    "stage-0",
    "flow"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"]
    }],
    "transform-class-properties"
  ]
}
