mixin facebook(domain)
  meta(property="fb:app_id" content="<%= facebook.appId %>")
  meta(property="og:url" content=domain)
  meta(property="og:type" content="website")
  meta(property="og:title" content="<%= name %>")
  meta(property="og:image" content=domain+"/public/favicon/favicon-192.png")
  //- Short description of the page (limit to 150 characters)
  meta(property="og:description" content="<%= description %>")
  meta(property="og:site_name" content="<%= name %>")
  meta(property="og:locale" content="en_US")
