mixin googlePlus(domain)
  link(href="https://plus.google.com/<%= name %>" rel="publisher")
  meta(itemprop="name" content="<%= name %>")
  //- Short description of the page (limit to 150 characters)
  meta(itemprop="description" content="<%= description %>")
  meta(itemprop="image" content=domain+"/public/favicon/android-chrome-192x192.png")
