mixin twitter(domain)
  meta(name="twitter:card" content="<%= name %>")
  meta(name="twitter:site" content="@<%= name %>")
  meta(name="twitter:creator" content="@<%= name %>")
  meta(name="twitter:url" content=domain)
  meta(name="twitter:title" content="<%= name %>")
  //- Short description of the page (limit to 150 characters)
  meta(name="twitter:description" content="<%= description %>")
  meta(name="twitter:image" content=domain+"/public/favicon/favicon-192.png")
