mixin android(domain)
  meta(name="theme-color" content="#E64545")
  meta(name="mobile-web-app-capable" content="yes")
  link(rel="manifest" href=domain+"/public/favicon/manifest.json")
  link(rel="icon" sizes="192x192" href=domain+"/public/favicon/favicon-192.png")
  link(rel="icon" sizes="128x128" href=domain+"/public/favicon/favicon-128.png")
