include head/meta.pug
<% socials.forEach(function(social) { -%>
include head/social/<%= social %>.pug
<% }) -%>

- var ENV = process.env.NODE_ENV === 'production'
- var domain = ENV ? '<%= domain %>' : '<%= testDomain %>'

doctype html
html
  head
    //- Reference: https://github.com/joshbuchea/HEAD
    +setMeta(domain)

    title <%= name %>

    link(rel="canonical" href=domain+"<%= name === 'index' ? '' : '/' + name + '/' %>")
    link(rel="author" href="<%= authorUrl %>")
    link(rel="copyright" href="<%= homepage %>/blob/master/LICENSE")

    include head/favicon.pug

<% socials.forEach(function(social) { -%>
    +<%= social %>(domain)
<% }) -%>

  body
    main(id="root") !{markup}

- if(ENV)
  script(defer, src="/public/js/common.min.js", type="text/javascript")
  script(defer, src="/public/js/<%= name %>.min.js", type="text/javascript")
- else
  script(defer, src="http://localhost:8080/webpack-dev-server.js", type="text/javascript")
  script(defer, src="http://localhost:8080/assets/common.js", type="text/javascript")
  script(defer, src="http://localhost:8080/assets/<%= name %>.js", type="text/javascript")

<% utils.forEach(function(util) { -%>
  include utils/<%= util %>.pug
<% }) -%>
