{# include firebase api -#}
<script defer src="https://www.gstatic.com/firebasejs/<%= firebase.firebase_version %>/firebase.js"></script>
<script>
  var config = {
    apiKey: "<%= firebase.apiKey %>",
    authDomain: "<%= firebase.authDomain %>",
    databaseURL: "<%= firebase.databaseURL %>",
    projectId: "<%= firebase.projectId %>",
    storageBucket: "<%= firebase.storageBucket %>",
    messagingSenderId: "<%= firebase.messagingSenderId %>"
  };
  firebase.initializeApp(config);
</script>
